<div class="modal-header" ng-if="mode=='select'">
    <h2 class="modal-title">
        Select Tasks(s)
    </h2>
</div>

<div class="modal-body">

    <div class="container col-md-12">

        <div class="col-md-6" style="min-width:800px">

            <h1 id="tableLabel" ng-if="mode=='list'">
                Tasks

                <span class="pull-right">
                    <button class="btn btn-sm btn-danger" ng-click="delete()" title="Delete selected tasks">delete</button>
                    <button class="btn btn-sm btn-default" ng-click="loadData(true)">refresh</button>
                </span>
            </h1>
            <div class="input-group input-group-sm col-md-12" style="min-width:1000px">
                <div class="input-group-addon input-sm">Search:</div>
                <input class="input-sm col-md-12" ng-model="searchText">
            </div>
            <div class="input-group input-group-sm  col-md-12">
                <div class="input-group-addon input-sm">Filter by masters:</div>
                <select class="form-control input-sm" id="displaydevices.{{listid}}" ng-model="displaydevices">
                    <option ng-repeat="displaydevicesoption in displaydevicesoptions" value="{{displaydevicesoption.Value}}" ng-selected="displaydevicesoption.Value == displaydevices">{{displaydevicesoption.Text}}</option>
                </select>
            </div>

            <div>
                <p ng-if="!iot_tasks"><em>Loading...</em></p>
                <table class="table table-responsive ng-scope ng-table" aria-labelledby="tableLabel" ng-if="iot_tasks" id="table.{{listid}}">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Device Code</th>
                            <th>Device</th>
                            <th>Scheduled Date</th>
                            <th>Time</th>
                            <th>Accepted Date</th>
                            <th>Time</th>
                            <th>Completed Date</th>
                            <th>Time</th>
                            <th>Command</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="iot_task in filteredData = (iot_tasks |filter: searchText |filter: filterDevices)| limitTo:itemsPerPage:itemsPerPage*(currentPage-1)"
                            ng-dblclick=""
                            ng-click="selectRow(listid, $event, iot_task.index, multilineallowed, iot_task.id);refreshdetail()"
                            ng-class="{active: isRowSelected(listid, iot_task.index)}"
                            id="tr.{{listid}}:{{iot_task.index}}"
                            objectid="{{iot_task.id}}">
                            <td><input type="checkbox" ng-checked="isRowSelected(listid, iot_task.index)"></td>
                            <td>{{ iot_task.id }}</td>
                            <td>{{ iot_task.xdevice.code }}</td>
                            <td>{{ iot_task.xdevice.name }}</td>
                            <td>{{ iot_task.xdevice.name }}</td>
                            <td>{{ iot_task.scheduledtime | date: dateFormat}}</td>
                            <td>{{ iot_task.scheduledtime | date: precisetimeFormat}}</td>
                            <td>{{ iot_task.acceptedtime | date: dateFormat}}</td>
                            <td>{{ iot_task.acceptedtime | date: precisetimeFormat}}</td>
                            <td>{{ iot_task.completedtime | date: dateFormat}}</td>
                            <td>{{ iot_task.completedtime | date: precisetimeFormat}}</td>
                            <td>{{ iot_task.command}}</td>
                            <td>{{kerReftabGetNameByNM('TASKSTATUS', iot_task.taskstatusnm)}}</td>
                            <td style="width:1%">
                                <button class="btn btn-danger btn-xs" ng-click="selectRow(listid, $event, iot_task.index, multilineallowed, iot_task.id); delete()">Delete</button>
                                {{calcTotalItems(filteredData.length)}}
                            </td>
                        </tr>

                    </tbody>
                </table>
                {{testEmptyTable("table."+listid)}}
                <div ng-if="true">
                    <div uib-pagination class="pagination-sm pagination" total-items="totalItems" ng-model="currentPage"
                         ng-change="pageChanged(currentPage, filteredData)" num-pages="numPages" previous-text="&lsaquo;" boundary-link-numbers="true" next-text="&rsaquo;" items-per-page="itemsPerPage" max-size="maxSize">
                    </div>
                    <pre>Page: {{currentPage}} / {{numPages}} ({{totalItems}} items)</pre>

                </div>

            </div>

        </div>


        <uib-tabset active="active" class="col-md-6" ng-if="mode=='list'">
            <uib-tab index="0" heading="Task">
                <div class="col-md-6" ng-if="selectediot_task">
                    <hr />
                    <h3>Selected Task</h3>
                    <p>
                        <b>{{selectediot_task.id}}</b> {{selectediot_task.taskstatusnm}}
                        <br>Command: {{selectediot_task.command}}
                    </p>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>

<div class="modal-footer" ng-if="mode=='select'">
    <div class="text-right">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
