<div class="modal-header" ng-if="mode=='select'">
    <h2 class="modal-title">
        Select Reference item(s)
    </h2>
</div>


<div class="modal-body">

    <div class="container col-md-12">

        <div class="col-md-6" style="min-width:800px">
            <h1 id="tableLabel" ng-if="mode=='list'">
                Reference Items

                <span class="pull-right">
                    <button class="btn btn-sm btn-primary" ng-click="new()" title="New item">new</button>
                    <button class="btn btn-sm btn-danger" ng-click="delete()" title="Delete selected items">delete</button>
                    <button class="btn btn-sm btn-default" ng-click="loadData(true)">refresh</button>
                </span>
            </h1>
            <div class="input-group input-group-sm col-md-12" style="min-width:1000px">
                <div class="input-group-addon input-sm">Search:</div>
                <input class="input-sm col-md-12" ng-model="searchText">
            </div>
            <div class="input-group input-group-sm  col-md-12">
                <div class="input-group-addon input-sm">Filter by reference table:</div>
                <select class="form-control input-sm" id="displayreftabs.{{listid}}" ng-model="displayreftabs">
                    <option ng-repeat="displayreftabsoption in displayreftabsoptions" value="{{displayreftabsoption.Value}}" ng-selected="displayreftabsoption.Value == displayreftabs">{{displayreftabsoption.Text}}</option>
                </select>
            </div>



            <div>
                <p ng-if="!ker_references"><em>Loading...</em></p>

                <table class="table table-responsive ng-scope ng-table" aria-labelledby="tableLabel" ng-if="ker_references" id="table.{{listid}}">
                    <thead>
                        <tr>
                            <th></th>
                            <th>RebtabNM</th>
                            <th>Id</th>
                            <th>Ord</th>
                            <th>NameNM</th>
                            <th>Name</th>
                            <th>Desription</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ker_reference in filteredData = (ker_references |filter: searchText |filter: filterReftabs)| limitTo:itemsPerPage:itemsPerPage*(currentPage-1)"
                            ng-dblclick="edit()"
                            ng-click="selectRow(listid, $event, ker_reference.index, multilineallowed, ker_reference.id)"
                            ng-class="{active: isRowSelected(listid, ker_reference.index)}"
                            id="tr.{{listid}}:{{ker_reference.index}}"
                            objectid="{{ker_reference.id}}">
                            <td><input type="checkbox" ng-checked="isRowSelected(listid, ker_reference.index)"></td>
                            <td>{{ ker_reference.reftabnm }}</td>
                            <td>{{ ker_reference.id }}</td>
                            <td>{{ ker_reference.ord }}</td>
                            <td>{{ ker_reference.namenm }}</td>
                            <td>{{ ker_reference.name }}</td>
                            <td>{{ ker_reference.description }}</td>
                            <td style="width:1%">
                                <button class="btn btn-danger btn-xs" ng-click="selectRow(listid, $event, ker_reference.index, multilineallowed, ker_reference.id); delete()">Delete</button>
                            </td>
                            <td style="width:1%">
                                <button class="btn btn-primary btn-xs" ng-click="selectRow(listid, $event, ker_reference.index, multilineallowed, ker_reference.id); edit()">Edit</button>
                                {{calcTotalItems(filteredData.length)}}
                            </td>
                        </tr>

                    </tbody>
                </table>
                {{testEmptyTable("table."+listid)}}
                <div ng-if="true">
                    <div uib-pagination class="pagination-sm pagination" total-items="totalItems" ng-model="currentPage"
                         ng-change="pageChanged(currentPage, filteredData)" num-pages="numPages" previous-text="&lsaquo;" boundary-link-numbers="true" next-text="&rsaquo;" items-per-page="itemsPerPage" max-size="maxSize">
                    </div>
                    <pre>Page: {{currentPage}} / {{numPages}} ({{totalItems}} items)</pre>

                </div>

            </div>

        </div>

    </div>


</div>

<div class="modal-footer" ng-if="mode=='select'">
    <div class="text-right">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>
