<div class="modal-header">
    <h2 class="modal-title">
        Select Reference Table(s)
    </h2>
</div>

<div class="modal-body">
    <div class="container col-md-12">

        <div class="col-md-6" style="min-width:800px">

            <h1 id="tableLabel">
                Invoices

                <span class="pull-right">
                    <button class="btn btn-sm btn-default" ng-click="loadData()">refresh</button>
                </span>
            </h1>
            <div class="input-group input-group-sm col-md-12" style="min-width:1000px">
                <div class="input-group-addon input-sm">Search:</div>
                <input class="input-sm col-md-12" ng-model="searchText">
            </div>

            <div>
                <p ng-if="!ker_reftabs"><em>Loading...</em></p>

                <table class="table table-responsive ng-scope ng-table" aria-labelledby="tableLabel" ng-if="ker_reftabs" id="table.{{reftabselectlistid}}">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>RetabNM</th>
                            <th>Description</th>
                            <th>Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ker_reftab in ker_reftabs |filter: searchText "
                            ng-dblclick="selectRow(reftabselectlistid, $event, ker_reftab.index, multilineallowed); ok()"
                            ng-click="selectRow(reftabselectlistid, $event, ker_reftab.index, multilineallowed)"
                            ng-class="{active: isRowSelected(reftabselectlistid, ker_reftab.index)}"
                            id="tr.{{reftabselectlistid}}:{{ker_reftab.index}}">
                            <td><input type="checkbox" ng-checked="isRowSelected(reftabselectlistid, ker_reftab.index)"></td>
                            <td>{{ ker_reftab.id }}</td>
                            <td>{{ ker_reftab.reftabnm }}</td>
                            <td>{{ ker_reftab.description }}</td>
                            <td>{{ ker_reftab.references.length}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

<div class="modal-footer">
    <div class="text-right">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>


