
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="tableLabel">
                

                <span class="pull-right">
                    <button class="btn btn-sm btn-danger" ng-click="googleLogin()" ng-if="!isAuthorized">Google Login</button>
                    <button class="btn btn-sm btn-default" ng-click="googleLogout()" ng-if="isAuthorized">Logout</button>
                    <button class="btn btn-sm btn-default" ng-click="testAuthorize()" ng-if="isAuthorized">Test Authorize</button>
                </span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" ng-if="!isAuthorize">
            <img src="views\login.jpg" align="middle" width="100%">

        </p>
        <div class="col-md-12" ng-if="isAuthorize">
            <h1>Dashboard</h1>
            
        </div>

    </div>

</div>


