<div class="container col-md-12">

    <div class="col-md-6" style="min-width:800px">

        <h1 id="tableLabel">
            Orders

            <span class="pull-right">
                <button class="btn btn-sm btn-primary" ng-click="new()" title="New client">new</button>
                <button class="btn btn-sm btn-primary" ng-click="pcm_connecttocustomer()" title="Connect orders to customer">connect to customer</button>
                <button class="btn btn-sm btn-danger" ng-click="delete()" title="Delete selected orders">delete</button>
                <button class="btn btn-sm btn-default" ng-click="loadData()">refresh</button>
            </span>
        </h1>
        <div class="input-group input-group-sm col-md-12" style="min-width:1000px">
            <div class="input-group-addon input-sm">Search:</div>
            <input class="input-sm col-md-12" ng-model="searchText">
        </div>
        <div class="input-group input-group-sm  col-md-12">
            <div class="input-group-addon input-sm">Filter by clients:</div>
            <select class="form-control input-sm" id="displayocustomers" ng-model="displayocustomers">
                <option ng-repeat="displayocustomersoption in displayocustomersoptions" value="{{displayocustomersoption.Value}}" ng-selected="displayocustomersoption.Value == displayocustomers">{{displayocustomersoption.Text}}</option>
            </select>
        </div>

        <div>
            <p ng-if="!pcm_orders"><em>Loading...</em></p>

            <table class="table table-responsive ng-scope ng-table" aria-labelledby="tableLabel" ng-if="pcm_orders" id="table.{{orderlistid}}">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Client</th>
                        <th>Sessions</th>
                        <th>Fully scheduled</th>
                        <th>Invoiced</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pcm_order in pcm_orders |filter: searchText |filter: filterOrders"
                        ng-dblclick="edit()"
                        ng-click="selectRow(orderlistid, $event, pcm_order.index, multilineallowed);refreshdetail()"
                        ng-class="{active: isRowSelected(orderlistid, pcm_order.index)}"
                        id="tr.{{orderlistid}}:{{pcm_order.index}}">
                        <td><input type="checkbox" ng-checked="isRowSelected(orderlistid, pcm_order.index)"></td>
                        <td>{{ pcm_order.id }}</td>
                        <td>{{ pcm_order.customer.name }}</td>
                        <td>{{ pcm_order.sessions }}</td>
                        <td><input type="checkbox" ng-checked="pcm_order.xfullyscheduled"></td>
                        <td><input type="checkbox" ng-checked="pcm_order.xinvoiced"></td>
                        <td style="width:1%">
                            <button class="btn btn-danger btn-xs" ng-click="selectRow(orderlistid, $event, pcm_order.index, multilineallowed); delete()">Delete</button>
                        </td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="selectRow(orderlistid, $event, pcm_order.index, multilineallowed); edit()">Edit</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>

    <div ng-include="'views/pcm_caleventsgui.html'" ng-controller="pcm_caleventcontroller" class="col-md-6" style="min-width:1000px"></div>

    <div class="col-md-6" ng-if="selectedpcm_order">
        <hr />
        <h3>Selected Order</h3>
        <p>
            <b>{{selectedpcm_order.id}}</b> {{selectedpcm_order.invoiceText}}
            <br>
        </p>
    </div>



</div>


