<div class="container col-md-12">
    <div class="col-md-6" style="min-width:800px">
        <div>
            <h1>
                Events

                <span class="pull-right">
                    <button class="btn btn-sm btn-primary" ng-click="pcm_caleventedit(true)" title="New session">new</button>
                    <button class="btn btn-sm btn-primary" ng-click="pcm_connectcaleventstocustomer()" title="Connect calevents to customer">connect to customer</button>
                    <button class="btn btn-sm btn-danger" ng-click="pcm_caleventdelete()">delete</button>
                    <button class="btn btn-sm btn-default" ng-click="loadData()">refresh</button>
                </span>
            </h1>
        </div>

        <div class="input-group input-group-sm">
            <div class="input-group-addon input-sm">Display events for:</div>
            <select class="form-control input-sm" id="displaycustomers" ng-model="displaycustomers">
                <option ng-repeat="displaycustomersoption in displaycustomersoptions" value="{{displaycustomersoption.Value}}" ng-selected="displaycustomersoption.Value == displaycustomers">{{displaycustomersoption.Text}}</option>
            </select>
        </div>

        <div>
            <p ng-if="!pcm_calevents"><em>Loading...</em></p>

            <table class="table table-responsive ng-scope ng-table" aria-labelledby="tableLabel" ng-if="pcm_calevents" id="table.{{caleventlistid}}">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration</th>
                        <th>Client</th>
                        <th>Title</th>
                        <th>Google</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pcm_calevent in pcm_calevents | filter:filterCalevents"
                        ng-dblclick="pcm_caleventedit(false)"
                        ng-click="selectRow(caleventlistid, $event, pcm_calevent.index);pcm_caleventdata()"
                        ng-class="{active: isRowSelected(caleventlistid, pcm_calevent.index)}"
                        id="tr.{{caleventlistid}}:{{pcm_calevent.index}}">
                        <td><input type="checkbox" ng-checked="isRowSelected(caleventlistid, pcm_calevent.index)"></td>
                        <td>{{pcm_calevent.starttime | date:'dd.MM.yyyy'}}</td>
                        <td>{{ pcm_calevent.starttime | date:'HH:mm'}}</td>
                        <td>{{ pcm_calevent.totime | date:'HH:mm'}}</td>
                        <td>{{ pcm_calevent.durationtime | date:'HH:mm'}}</td>
                        <td>{{ pcm_calevent.customer.name }}</td>
                        <td>{{ pcm_calevent.title }}</td>
                        <td><input type="checkbox" ng-checked="pcm_calevent.gcalidflag"></td>
                        <td style="width:1%">
                            <button class="btn btn-danger btn-xs" ng-click="selectRow(caleventlistid, $event, pcm_calevent.index); pcm_caleventdelete()">Delete</button>
                        </td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="selectRow(caleventlistid, $event, pcm_calevent.index); pcm_caleventedit(false)">Edit</button>
                        </td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="selectRow(caleventlistid, $event, pcm_calevent.index); pcm_caleventmerge(true)">Merge</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
    <div class="col-md-6" style="min-width:800px">

        <h1>
            Google Calendar

            <span class="pull-right">
                <button class="btn btn-sm btn-danger" id="authorize_button" style="display: none;">Import Google Calendar</button>
                <!--button class="btn btn-sm btn-danger" id="signout_button" style="display: none;">Sign Out</button-->
                <button class="btn btn-sm btn-primary" ng-click="pcm_caleventgenerate()">generate</button>
                <button class="btn btn-sm btn-default" ng-click="loadData()">refresh</button>
            </span>
        </h1>
        <div>
            <div class="input-group input-group-sm">
                <div class="input-group-addon input-sm">Display Google events for:</div>
                <select class="form-control input-sm" id="displaycalevents" ng-model="displaycalevents">
                    <option ng-repeat="displaycaleventsoption in displaycaleventsoptions" value="{{displaycaleventsoption.Value}}" ng-selected="displaycaleventsoption.Value == displaycalevents">{{displaycaleventsoption.Text}}</option>
                </select>
            </div>
        </div>


        <div>
            <p ng-if="!pcm_gcalevents"><em>Loading...</em></p>

            <table class='table table-responsive table-hover' aria-labelledby="tableLabel" ng-if="pcm_gcalevents" id="table.{{gcaleventlistid}}">
                <thead>
                    <tr>
                        <th></th>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration</th>
                        <th>Participants</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pcm_gcalevent in pcm_gcalevents| filter:filterGcalvents"
                        ng-dblclick="pcm_gcaleventedit()"
                        ng-click="selectRow(gcaleventlistid, $event, pcm_gcalevent.index);pcm_gcaleventdata()"
                        ng-class="{active: isRowSelected(gcaleventlistid, pcm_gcalevent.index)}"
                        id="tr.{{gcaleventlistid}}:{{pcm_gcalevent.index}}">
                        <td><input type="checkbox" ng-checked="isRowSelected(gcaleventlistid, pcm_gcalevent.index)"></td>
                        <td>{{pcm_gcalevent.starttime | date:'dd.MM.yyyy'}}</td>
                        <td>{{ pcm_gcalevent.starttime | date:'HH:mm'}}</td>
                        <td>{{ pcm_gcalevent.totime | date:'HH:mm'}}</td>
                        <td>{{ pcm_gcalevent.durationtime | date:'HH:mm'}}</td>
                        <td>
                            <div ng-repeat="participant in pcm_gcalevent.participantlist">
                                {{ participant.displayname }}<br>
                            </div>
                        </td>
                        <td>{{ pcm_gcalevent.summary}}</td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="selectRow(galeventlistid, $event, pcm_gcalevent.index); pcm_gcaleventedit()">Edit</button>
                        </td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="selectRow(galeventlistid, $event, pcm_gcalevent.index); pcm_caleventgenerate()">Generate</button>
                        </td>

                    </tr>

                </tbody>
            </table>

        </div>
    </div>



    <div class="col-md-6" style="min-width:800px">
        <div ng-if="selectedpcm_calevent">
            <hr />
            <h3>Selected Event</h3>
            <p>
                <b>{{selectedpcm_calevent.id}}</b> {{selectedpcm_calevent.customer.name}}
                <br>
            </p>

        </div>
        <div ng-if="selectedpcm_gcalevent">
            <hr />
            <h3>Selected GcalEvent</h3>
            <p>
                <b>{{selectedpcm_gcalevent.index}}</b>
                <br>
                {{selectedpcm_gcalevent.summary}}
                <br>
            </p>
        </div>
    </div>
</div>

