<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 id="tableLabel">
                Devices

                <span class="pull-right">
                    <button class="btn btn-sm btn-primary" ng-click="sensorEdit()" title="New sensor">new</button>
                    <button class="btn btn-sm btn-default" ng-click="loadData()">refresh</button>
                </span>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <p ng-if="!sensors"><em>Loading...</em></p>

            <table class='table table-responsive table-hover' aria-labelledby="tableLabel" ng-if="sensors">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Descpription</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sensor in sensors"
                        ng-dblclick="sensorEdit(sensor)"
                        ng-click="sensorData(sensor)"
                        class="clickable">
                        <td>{{ sensor.id }}</td>
                        <td>{{ sensor.code }}</td>
                        <td>{{ sensor.name }}</td>
                        <td>{{ sensor.description }}</td>
                        <td style="width:1%">
                            <button class="btn btn-danger btn-xs" ng-click="sensorDelete(sensor)">Delete</button>
                        </td>
                        <td style="width:1%">
                            <button class="btn btn-primary btn-xs" ng-click="sensorEdit(sensor)">Edit</button>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="col-md-12" ng-if="selectedSensor">
            <hr />
            <h3>Selected sensor</h3>
            <p>
                <b>{{selectedSensor.id}}</b> {{selectedSensor.description}}
            </p>
            <div id="tester" style="width:600px;height:250px;"></div>

        </div>

        <script>
            TESTER = document.getElementById('tester');
            Plotly.newPlot(TESTER, [{
                x: [1, 2, 3, 4, 5],
                y: [1, 2, 4, 8, 16]
            }], {
                margin: { t: 0 }
            });
        </script>

    </div>
</div>


