

<form name="myForm" ng-submit="ok()">

    <div class="modal-header">
        <h2 class="modal-title">
            Order
        </h2>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Customer</span>
                        <input class="form-control input-sm" type="text" ng-model="dataCopy.customer.name" / disabled>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Sessions</span>
                        <input class="form-control input-sm" type="number" ng-model="dataCopy.sessions" />
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Price</span>
                        <input class="form-control input-sm" type="number" data-toggle="Price" ng-model="dataCopy.price" />
                        <span class="input-group-addon input-sm" style="min-width:200px">
                            <select class="form-control input-sm" ng-model="dataCopy.currencynm">
                                <option ng-repeat="currency in currencylist" value="{{currency.Value}}" ng-selected="currency.Value == dataCopy.currencynm">{{currency.Text}}</option>
                            </select>
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon" ng-click="dataCopy.xfullyscheduled=dataCopy.xfullyscheduled" style="cursor: pointer;" disabled>
                            <span class="glyphicon glyphicon-check" aria-hidden="true" ng-if="dataCopy.xfullyscheduled"></span>
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-if="!dataCopy.xfullyscheduled"></span>
                            Fully Scheduled
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <div class="input-group-addon" ng-click="dataCopy.xinvoiced=dataCopy.xinvoiced" style="cursor: pointer;" disabled>
                            <span class="glyphicon glyphicon-check" aria-hidden="true" ng-if="dataCopy.xinvoiced"></span>
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-if="!dataCopy.xinvoiced"></span>
                            Invoiced
                        </div>



                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon input-sm">Text on invoice</div>
                        <textarea class="form-control input-sm" rows="5" ng-model="dataCopy.invoicetext"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <uib-tabset active="active" class="col-md-6">
            <uib-tab index="0" heading="Events">
                <div ng-if="dataCopy.id" ng-include="'views/pcm_caleventsgui.html'" ng-controller="pcm_caleventcontroller" class="col-md-6" style="min-width:1000px"></div>
            </uib-tab>
            <uib-tab index="1" heading="Invoices">
                <div ng-if="dataCopy.id" ng-include="'views/pcm_invoicesgui.html'" ng-controller="pcm_invoicecontroller" class="col-md-6" style="min-width:1000px"></div>
            </uib-tab>
        </uib-tabset>

    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</form>

