

<form name="myForm" ng-model-options="{updateOn: 'submit'}" ng-submit="ok()">

    <div class="modal-header">
        <h2 class="modal-title">
            Client
        </h2>
    </div>

    <div class="modal-body">

        <div class="row">

            <div class="col-md-3" style="min-height:75px">
                <div ng-if="pcm_customer.id">
                    <img ng-src="{{pcm_customer.photodocument.content}}" class="img img-rounded img-responsive" ng-click="pcm_customerpictureedit(pcm_customer)" ng-dblclick="pcm_customerpictureedit(pcm_customer)" alt="Add picture">
                </div>

            </div>

            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon input-sm">Name</span>
                            <input class="form-control input-sm" type="text" placeholder="firstname" ng-model="pcm_customer.firstname" />
                            <input class="form-control input-sm" type="text" placeholder="surname" ng-model="pcm_customer.surname" />

                            <!--Active-->
                            <div class="input-group-addon" ng-click="pcm_customer.active=!pcm_customer.active" style="cursor: pointer;">
                                <span class="glyphicon glyphicon-check" aria-hidden="true" ng-if="pcm_customer.active"></span>
                                <span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-if="!pcm_customer.active"></span>
                                    Active
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon input-sm">e-mail (calendar)</div>
                            <input class="form-control input-sm" type="email" ng-model="pcm_customer.emailcalendar" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <div class="input-group-addon input-sm">e-mail (invoicing)</div>
                            <input class="form-control input-sm" type="email" ng-model="pcm_customer.emailinvoice" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span>
                            </span>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon input-sm">Phone</span>
                            <input class="form-control input-sm" type="tel" ng-model="pcm_customer.phone" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> </span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Agreed price</span>
                        <input class="form-control input-sm" type="number" data-toggle="price per session"  placeholder="per session" ng-model="pcm_customer.pricesession" />
                        <input class="form-control input-sm" type="number" data-toggle="discounted price per 10 sessions" placeholder="per 10 sessions" ng-model="pcm_customer.price10sessions" />
                        <span class="input-group-addon" style="min-width:200px">
                            <select class="form-control input-sm" ng-model="pcm_customer.currencynm">
                                <option ng-repeat="currency in currencylist" value="{{currency.Value}}" ng-selected="currency.Value == pcm_customer.currencynm">{{currency.Text}}</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon input-sm">Agreed conditions</div>
                        <textarea class="form-control input-sm" rows="5" ng-model="pcm_customer.agreedconditions" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon input-sm">Note</div>
                        <textarea class="form-control input-sm" rows="5" ng-model="pcm_customer.note"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>