<form name="myForm" id="myForm" ng-submit="ok()">

    <div class="modal-header">
        <h2 class="modal-title">
            Calendar event
        </h2>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Customer</span>
                        <input class="form-control input-sm" type="text" ng-model="dataCopy.customer.name" / disabled>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Title</span>
                        <input class="form-control input-sm" type="text" ng-model="dataCopy.title" />
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Date</span>
                        <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="dataCopy.startdate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Start</span>
                        <div uib-timepicker ng-model="dataCopy.starttime" hour-step="1" minute-step="5" show-meridian="false" show-seconds="false" show-spinners="false"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Duration</span>
                        <div uib-timepicker ng-model="dataCopy.durationtime" hour-step="1" minute-step="5" show-meridian="false" show-seconds="false" show-spinners="false" ng-change="durationChanged()"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon input-sm">Units</span>
                        <input class="form-control input-sm" type="number" data-toggle="Units" ng-model="dataCopy.units" />
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <!--Active-->
                        <div class="input-group-addon" ng-click="dataCopy.canceled=!dataCopy.canceled" style="cursor: pointer;">
                            <span class="glyphicon glyphicon-check" aria-hidden="true" ng-if="dataCopy.canceled"></span>
                            <span class="glyphicon glyphicon-unchecked" aria-hidden="true" ng-if="!dataCopy.canceled"></span>
                            Canceled
                        </div>

                        <span class="input-group-addon input-sm">Reason:</span>
                        <input class="form-control input-sm" type="text" ng-model="dataCopy.canceledreason" />


                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon input-sm">Text on invoice</div>
                        <textarea class="form-control input-sm" rows="5" ng-model="dataCopy.invoicetext"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="text-right">
            <button class="btn btn-primary" ng-click="ok()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</form>

