<footer>
    <div class="container">

        <div ng-controller="GoogleCtrl2" class="row">


            <!--<script>var gapiOnLoadCallback = function () { window.gapiOnLoadCallback(); }</script>
            <script src="https://apis.google.com/js/platform.js?onload=gapiOnLoadCallback" async defer></script>
            
            <div class="col-md-4">
              <div id="googleLoginButton"></div>
            </div>
                

            <div>
               <button ng-show="window.signedIn" ng-click="signOut()" class="btn btn-sm btn-primary">Sign Out</button>
            </div>-->
            
        </div>


        <p>
            <hr />
            <small class="pull-right">&copy; Hrdlicky.eu</small>
        </p>
    </div>


</footer>

