<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Hrdlicky.eu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-if="isAuthorized">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/">Home</a>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Smart-home <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/sensors">Sensors</a>
                        </li>
                        <li>
                            <a href="#/blog">???</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/pcm_customers">Clients</a>
                </li>
                <li>
                    <a href="#/pcm_calevents">Events</a>
                </li>
                <li>
                    <a href="#/pcm_orders">Orders</a>
                </li>
                <li>
                    <a href="#/fetch">Weather</a>


            </ul>
        </div>
    </div>
</nav>
